In [374]:
import pandas as pd
import datetime as dt
from geopy import distance

In [375]:
super_categories = {
 'health_beauty': 'Health_Beauty',
 'perfumery': 'Health_Beauty',
 'computers': 'Technology',
 'pc_gamer' : 'Technology',
 'computers_accessories': 'Technology',
 'electronics': 'Technology',
 'tablets_printing_image': 'Technology',
 'telephony': 'Technology',
 'fixed_telephony': 'Technology',
 'auto': 'Automotive',
 'small_appliances_home_oven_and_coffee': 'Home',
 'home_comfort_2': 'Home',
 'home_appliances_2': 'Home',
 'home_confort': 'Home',
 'air_conditioning': 'Home',
 'small_appliances': 'Home',
 'bed_bath_table': 'Home',
 'furniture_decor': 'Home',
 'housewares': 'Home',
 'home_appliances': 'Home',
 'home_comfort': 'Home',
 'kitchen_dining_laundry_garden_furniture': 'Home',
 'portable_kitchen_food_preparers' : 'Home',
 'fashio_female_clothing': 'Fashion_Accessories',
 'luggage_accessories': 'Fashion_Accessories',
 'fashion_bags_accessories': 'Fashion_Accessories',
 'fashion_shoes': 'Fashion_Accessories',
 'watches_gifts': 'Fashion_Accessories',
 'fashion_male_clothing': 'Fashion_Accessories',
 'fashion_female_clothing': 'Fashion_Accessories',
 'fashion_childrens_clothes': 'Fashion_Accessories',
 'fashion_underwear_beach': 'Fashion_Accessories',
 'fashion_sport': 'Fashion_Accessories',
 'sports_leisure': 'Sports_Leisure',
 'food_drink': 'Food_Beverage',
 'la_cuisine': 'Food_Beverage',
 'food': 'Food_Beverage',
 'drinks': 'Food_Beverage',
 'baby': 'Baby',
 'diapers_and_hygiene': 'Baby',
 'stationery': 'Office_Supplies',
 'office_furniture': 'Office_Supplies',
 'flowers': 'Gardening',
 'costruction_tools_garden': 'Gardening',
 'books_general_interest': 'Books',
 'books_technical': 'Books',
 'books_imported': 'Books',
 'cds_dvds_musicals': 'Books',
 'dvds_blu_ray': 'Books',
 'art': 'Arts_Music',
 'audio': 'Arts_Music',
 'music': 'Arts_Music',
 'arts_and_craftmanship': 'Arts_Music',
 'cine_photo': 'Arts_Music',
 'musical_instruments': 'Arts_Music',
 'toys': 'Toys_Games',
 'consoles_games': 'Toys_Games',
 'cool_stuff': 'Toys_Games',
 'party_supplies': 'Party_Supplies',
 'christmas_supplies': 'Party_Supplies',
 'home_construction': 'Construction_Tools',
 'costruction_tools_tools': 'Construction_Tools',
 'construction_tools_construction': 'Construction_Tools',
 'garden_tools': 'Construction_Tools',
 'construction_tools_lights': 'Construction_Tools',
 'construction_tools_safety': 'Construction_Tools',
 'pet_shop': 'Pet_Supplies',
 'industry_commerce_and_business': 'Agro_Industry_Commerce',
 'agro_industry_and_commerce': 'Agro_Industry_Commerce',
 'furniture_mattress_and_upholstery': 'Furniture',
 'furniture_living_room': 'Furniture',
 'furniture_bedroom': 'Furniture',
 'market_place': 'Market_place',
 'signaling_and_security': 'Signaling_Security',
 'security_and_services': 'Signaling_Security'
 }

In [376]:
df_category = pd.read_csv('donnees/product_category_name_translation.csv')
df_category.head()
translator = dict()
[translator.update({df_category['product_category_name'][i]:df_category['product_category_name_english'][i]}) for i in range(df_category.shape[0])]
translator

{'beleza_saude': 'health_beauty',
 'informatica_acessorios': 'computers_accessories',
 'automotivo': 'auto',
 'cama_mesa_banho': 'bed_bath_table',
 'moveis_decoracao': 'furniture_decor',
 'esporte_lazer': 'sports_leisure',
 'perfumaria': 'perfumery',
 'utilidades_domesticas': 'housewares',
 'telefonia': 'telephony',
 'relogios_presentes': 'watches_gifts',
 'alimentos_bebidas': 'food_drink',
 'bebes': 'baby',
 'papelaria': 'stationery',
 'tablets_impressao_imagem': 'tablets_printing_image',
 'brinquedos': 'toys',
 'telefonia_fixa': 'fixed_telephony',
 'ferramentas_jardim': 'garden_tools',
 'fashion_bolsas_e_acessorios': 'fashion_bags_accessories',
 'eletroportateis': 'small_appliances',
 'consoles_games': 'consoles_games',
 'audio': 'audio',
 'fashion_calcados': 'fashion_shoes',
 'cool_stuff': 'cool_stuff',
 'malas_acessorios': 'luggage_accessories',
 'climatizacao': 'air_conditioning',
 'construcao_ferramentas_construcao': 'construction_tools_construction',
 'moveis_cozinha_area_de_servico_jantar_e_jardim': 'kitchen_dining_laundry_garden_furniture',
 'construcao_ferramentas_jardim': 'costruction_tools_garden',
 'fashion_roupa_masculina': 'fashion_male_clothing',
 'pet_shop': 'pet_shop',
 'moveis_escritorio': 'office_furniture',
 'market_place': 'market_place',
 'eletronicos': 'electronics',
 'eletrodomesticos': 'home_appliances',
 'artigos_de_festas': 'party_supplies',
 'casa_conforto': 'home_confort',
 'construcao_ferramentas_ferramentas': 'costruction_tools_tools',
 'agro_industria_e_comercio': 'agro_industry_and_commerce',
 'moveis_colchao_e_estofado': 'furniture_mattress_and_upholstery',
 'livros_tecnicos': 'books_technical',
 'casa_construcao': 'home_construction',
 'instrumentos_musicais': 'musical_instruments',
 'moveis_sala': 'furniture_living_room',
 'construcao_ferramentas_iluminacao': 'construction_tools_lights',
 'industria_comercio_e_negocios': 'industry_commerce_and_business',
 'alimentos': 'food',
 'artes': 'art',
 'moveis_quarto': 'furniture_bedroom',
 'livros_interesse_geral': 'books_general_interest',
 'construcao_ferramentas_seguranca': 'construction_tools_safety',
 'fashion_underwear_e_moda_praia': 'fashion_underwear_beach',
 'fashion_esporte': 'fashion_sport',
 'sinalizacao_e_seguranca': 'signaling_and_security',
 'pcs': 'computers',
 'artigos_de_natal': 'christmas_supplies',
 'fashion_roupa_feminina': 'fashio_female_clothing',
 'eletrodomesticos_2': 'home_appliances_2',
 'livros_importados': 'books_imported',
 'bebidas': 'drinks',
 'cine_foto': 'cine_photo',
 'la_cuisine': 'la_cuisine',
 'musica': 'music',
 'casa_conforto_2': 'home_comfort_2',
 'portateis_casa_forno_e_cafe': 'small_appliances_home_oven_and_coffee',
 'cds_dvds_musicais': 'cds_dvds_musicals',
 'dvds_blu_ray': 'dvds_blu_ray',
 'flores': 'flowers',
 'artes_e_artesanato': 'arts_and_craftmanship',
 'fraldas_higiene': 'diapers_and_hygiene',
 'fashion_roupa_infanto_juvenil': 'fashion_childrens_clothes',
 'seguros_e_servicos': 'security_and_services'}

In [377]:
df_products = pd.read_csv('donnees/olist_products_dataset.csv')
df_products["product_category_name"] = df_products["product_category_name"].replace(translator)
df_products["product_super_category_name"] = df_products["product_category_name"].replace(super_categories)
df_products["dimension"] = df_products[['product_length_cm','product_height_cm','product_width_cm']].apply(lambda dim : dim[0]*dim[1]*dim[2], axis=1)
df_products["product_name_description_lenght"] = df_products[['product_name_lenght','product_description_lenght']].apply(lambda l : l[0]+l[1], axis=1)
df_products.drop(columns=['product_name_lenght','product_description_lenght','product_category_name','product_width_cm','product_height_cm','product_length_cm'],inplace=True)
df_products

,product_id,product_photos_qty,product_weight_g,product_super_category_name,dimension,product_name_description_lenght
0,1e9e8ef04dbcff4541ed26657ea517e5,1.0,225.0,Health_Beauty,2240.0,327.0
1,3aa071139cb16b67ca9e5dea641aaa2f,1.0,1000.0,Arts_Music,10800.0,320.0
2,96bd76ec8810374ed1b65e291975717f,1.0,154.0,Sports_Leisure,2430.0,296.0
3,cef67bcfe19066a932b7673e239eb23d,1.0,371.0,Baby,2704.0,288.0
4,9dc1a7de274444849c219cff195d0b71,4.0,625.0,Home,4420.0,439.0
...,...,...,...,...,...,...
32946,a0b7d5a992ccda646f2d34e418fff5a0,2.0,12300.0,Home,64000.0,112.0
32947,bf4538d88321d0fd4412a93c974510e6,1.0,1700.0,Construction_Tools,4864.0,1012.0
32948,9a7c6041fa9592d9d9ef6cfe62a71f8c,1.0,1400.0,Home,5103.0,849.0
32949,83808703fc0706a22e264b9d75f04a2e,2.0,700.0,Technology,8060.0,216.0
32950,106392145fca363410d287a815be6de4,1.0,2083.0,Home,168.0,367.0

In [378]:
df_items = pd.read_csv('donnees/olist_order_items_dataset.csv')
df_items = df_items.drop(['shipping_limit_date'],axis=1)
df_items

,order_id,order_item_id,product_id,seller_id,price,freight_value
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,58.90,13.29
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,239.90,19.93
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,199.00,17.87
3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,12.99,12.79
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,199.90,18.14
...,...,...,...,...,...,...
112645,fffc94f6ce00a00581880bf54a75a037,1,4aa6014eceb682077f9dc4bffebc05b0,b8bc237ba3788b23da09c0f1f3a3288c,299.99,43.41
112646,fffcd46ef2263f404302a634eb57f7eb,1,32e07fd915822b0765e448c4dd74c828,f3c38ab652836d21de61fb8314b69182,350.00,36.53
112647,fffce4705a9662cd70adb13d4a31832d,1,72a30483855e2eafc67aee5dc2560482,c3cfdc648177fdbbbb35635a37472c53,99.90,16.95
112648,fffe18544ffabc95dfada21779c9644f,1,9c422a519119dcad7575db5af1ba540e,2b3e4a2a3ea8e01938cabda2a3e5cc79,55.99,8.72
112649,fffe41c64501cc87c801fd61db3f6244,1,350688d9dc1e75ff97be326363655e01,f7ccf836d21b2fb1de37564105216cc1,43.00,12.79

In [379]:
df_product_items = df_products.merge(df_items,on='product_id')
df_product_items

,product_id,product_photos_qty,product_weight_g,product_super_category_name,dimension,product_name_description_lenght,order_id,order_item_id,seller_id,price,freight_value
0,1e9e8ef04dbcff4541ed26657ea517e5,1.0,225.0,Health_Beauty,2240.0,327.0,e17e4f88e31525f7deef66779844ddce,1,5670f4db5b62c43d542e1b2d56b0cf7c,10.91,7.39
1,3aa071139cb16b67ca9e5dea641aaa2f,1.0,1000.0,Arts_Music,10800.0,320.0,5236307716393b7114b53ee991f36956,1,b561927807645834b59ef0d16ba55a24,248.00,17.99
2,96bd76ec8810374ed1b65e291975717f,1.0,154.0,Sports_Leisure,2430.0,296.0,01f66e58769f84129811d43eefd187fb,1,7b07b3c7487f0ea825fc6df75abd658b,79.80,7.82
3,cef67bcfe19066a932b7673e239eb23d,1.0,371.0,Baby,2704.0,288.0,143d00a4f2dde4e0364ee1821577adb3,1,c510bc1718f0f2961eaa42a23330681a,112.30,9.54
4,9dc1a7de274444849c219cff195d0b71,4.0,625.0,Home,4420.0,439.0,86cafb8794cb99a9b1b77fc8e48fbbbb,1,0be8ff43f22e456b4e0371b2245e4d01,37.90,8.29
...,...,...,...,...,...,...,...,...,...,...,...
112645,83808703fc0706a22e264b9d75f04a2e,2.0,700.0,Technology,8060.0,216.0,59e88b7d3675e89aceaf86f372d3bc9a,2,4324dd16853115efb0fd9d0d131ba6f4,29.90,16.11
112646,83808703fc0706a22e264b9d75f04a2e,2.0,700.0,Technology,8060.0,216.0,6e4465d771f02e4fe335225de3c6c043,1,4324dd16853115efb0fd9d0d131ba6f4,29.90,23.28
112647,83808703fc0706a22e264b9d75f04a2e,2.0,700.0,Technology,8060.0,216.0,6e4465d771f02e4fe335225de3c6c043,2,4324dd16853115efb0fd9d0d131ba6f4,29.90,23.28
112648,83808703fc0706a22e264b9d75f04a2e,2.0,700.0,Technology,8060.0,216.0,6e4465d771f02e4fe335225de3c6c043,3,4324dd16853115efb0fd9d0d131ba6f4,29.90,23.28
112649,106392145fca363410d287a815be6de4,1.0,2083.0,Home,168.0,367.0,f3a47ba087f05d39a74ed1b653f0be1b,1,4a3ca9315b744ce9f8e9374361493884,107.50,27.05

In [380]:
df_geo = pd.read_csv('donnees/olist_geolocation_dataset.csv')
df_geo = df_geo.groupby('geolocation_zip_code_prefix').agg({'geolocation_lat':'mean','geolocation_lng':'mean'}).reset_index()
df_geo

       geolocation_zip_code_prefix  geolocation_lat  geolocation_lng
0                             1001       -23.550190       -46.634024
1                             1002       -23.548146       -46.634979
2                             1003       -23.548994       -46.635731
3                             1004       -23.549799       -46.634757
4                             1005       -23.549456       -46.636733
...                            ...              ...              ...
19010                        99960       -27.953722       -52.025511
19011                        99965       -28.183372       -52.039850
19012                        99970       -28.343766       -51.874689
19013                        99980       -28.389129       -51.843836
19014                        99990       -28.329595       -51.769362

[19015 rows x 3 columns]

In [381]:
df_sellers = pd.read_csv('donnees/olist_sellers_dataset.csv')
df_sellers.drop(columns=['seller_city','seller_state'],inplace=True)
df_sellers

                             seller_id  seller_zip_code_prefix
0     3442f8959a84dea7ee197c632cb2df15                   13023
1     d1b65fc7debc3361ea86b5f14c68d2e2                   13844
2     ce3ad9de960102d0677a81f5d0bb7b2d                   20031
3     c0f3eea2e14555b6faeea3dd58c1b1c3                    4195
4     51a04a8a6bdcb23deccc82b0b80742cf                   12914
...                                ...                     ...
3090  98dddbc4601dd4443ca174359b237166                   87111
3091  f8201cab383e484733266d1906e2fdfa                   88137
3092  74871d19219c7d518d0090283e03c137                    4650
3093  e603cf3fec55f8697c9059638d6c8eb5                   96080
3094  9e25199f6ef7e7c347120ff175652c3b                   12051

[3095 rows x 2 columns]

In [382]:
df_geo_sellers = df_sellers.merge(df_geo, left_on='seller_zip_code_prefix', right_on='geolocation_zip_code_prefix')
df_geo_sellers

,seller_id,seller_zip_code_prefix,geolocation_zip_code_prefix,geolocation_lat,geolocation_lng
0,3442f8959a84dea7ee197c632cb2df15,13023,13023,-22.893848,-47.061337
1,e0eabded302882513ced4ea3eb0c7059,13023,13023,-22.893848,-47.061337
2,d1b65fc7debc3361ea86b5f14c68d2e2,13844,13844,-22.383437,-46.947927
3,ce3ad9de960102d0677a81f5d0bb7b2d,20031,20031,-22.909572,-43.177703
4,1d2732ef8321502ee8488e8bed1ab8cd,20031,20031,-22.909572,-43.177703
...,...,...,...,...,...
3083,f1fdf2d13186575751aa25876536d85c,5314,5314,-23.530647,-46.736453
3084,98dddbc4601dd4443ca174359b237166,87111,87111,-23.448041,-51.869960
3085,74871d19219c7d518d0090283e03c137,4650,4650,-23.657851,-46.676925
3086,e603cf3fec55f8697c9059638d6c8eb5,96080,96080,-31.751072,-52.323202
3087,9e25199f6ef7e7c347120ff175652c3b,12051,12051,-23.012009,-45.585652

In [383]:
df_items_geo_sellers = df_items.merge(df_geo_sellers, on='seller_id').rename(columns={'geolocation_lat':'seller_lat','geolocation_lng':'seller_lng'})
df_items_geo_sellers

,order_id,order_item_id,product_id,seller_id,price,freight_value,seller_zip_code_prefix,geolocation_zip_code_prefix,seller_lat,seller_lng
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,58.90,13.29,27277,27277,-22.496953,-44.127492
1,0188777fe321843a18be24a6e9aa1e53,1,436c8d57ff8d4aa254318e9bd9b48c83,48436dade18ac8b2bce089ec2a041202,55.90,9.94,27277,27277,-22.496953,-44.127492
2,0191bbb5166d4b9a68df11797d5acfa9,1,ec02a5d380128f7a188e9ce8f3ddd832,48436dade18ac8b2bce089ec2a041202,132.90,20.17,27277,27277,-22.496953,-44.127492
3,03054d8a8eefc2981cfad06f58e27979,1,3e31fd1419cc4cd6adad1925e72e3a03,48436dade18ac8b2bce089ec2a041202,58.90,15.16,27277,27277,-22.496953,-44.127492
4,0c325ea6925de749e1420be0cf43587c,1,3a135477bf41350a0b1d8afdf616d446,48436dade18ac8b2bce089ec2a041202,139.90,16.74,27277,27277,-22.496953,-44.127492
...,...,...,...,...,...,...,...,...,...,...
112392,fdfeec75aa07c1d2a88b17b8fbfc7b8f,1,11059273f4bc1a293777e98c89807c62,dbc51f5e45d654ecc16cb68e6817ecea,199.99,18.14,14402,14402,-20.523653,-47.364272
112393,fe68b52db13993f58175fa589125d345,1,f4135cbdece8245560f7be179533797a,3fefda3299e6dfaea3466ef346a3571a,209.00,16.21,82620,82620,-25.383155,-49.221477
112394,fefacc66af859508bf1a7934eab1e97f,1,69c590f7ffc7bf8db97190b6cb6ed62e,80ceebb4ee9b31afb6c6a916a574a1e2,6729.00,193.21,86026,86026,-23.311279,-51.157084
112395,ff701a7c869ad21de22a6994237c8a00,1,5ff4076c0f01eeba4f728c9e3fa2653c,3e35a8bb43569389d3cebef0ce820f69,27.90,14.44,3124,3124,-23.570997,-46.590967
112396,ff701a7c869ad21de22a6994237c8a00,2,5ff4076c0f01eeba4f728c9e3fa2653c,3e35a8bb43569389d3cebef0ce820f69,27.90,14.44,3124,3124,-23.570997,-46.590967

In [384]:
df_products_items_geo_sellers = df_products.merge(df_items_geo_sellers, on='product_id').drop(columns=['seller_zip_code_prefix','geolocation_zip_code_prefix'])
df_products_items_geo_sellers

,product_id,product_photos_qty,product_weight_g,product_super_category_name,dimension,product_name_description_lenght,order_id,order_item_id,seller_id,price,freight_value,seller_lat,seller_lng
0,1e9e8ef04dbcff4541ed26657ea517e5,1.0,225.0,Health_Beauty,2240.0,327.0,e17e4f88e31525f7deef66779844ddce,1,5670f4db5b62c43d542e1b2d56b0cf7c,10.91,7.39,-23.532071,-46.476333
1,3aa071139cb16b67ca9e5dea641aaa2f,1.0,1000.0,Arts_Music,10800.0,320.0,5236307716393b7114b53ee991f36956,1,b561927807645834b59ef0d16ba55a24,248.00,17.99,-23.468175,-46.720253
2,96bd76ec8810374ed1b65e291975717f,1.0,154.0,Sports_Leisure,2430.0,296.0,01f66e58769f84129811d43eefd187fb,1,7b07b3c7487f0ea825fc6df75abd658b,79.80,7.82,-23.503985,-46.625672
3,cef67bcfe19066a932b7673e239eb23d,1.0,371.0,Baby,2704.0,288.0,143d00a4f2dde4e0364ee1821577adb3,1,c510bc1718f0f2961eaa42a23330681a,112.30,9.54,-23.086339,-47.216887
4,9dc1a7de274444849c219cff195d0b71,4.0,625.0,Home,4420.0,439.0,86cafb8794cb99a9b1b77fc8e48fbbbb,1,0be8ff43f22e456b4e0371b2245e4d01,37.90,8.29,-23.691183,-46.679584
...,...,...,...,...,...,...,...,...,...,...,...,...,...
112392,83808703fc0706a22e264b9d75f04a2e,2.0,700.0,Technology,8060.0,216.0,59e88b7d3675e89aceaf86f372d3bc9a,2,4324dd16853115efb0fd9d0d131ba6f4,29.90,16.11,-21.582987,-46.947759
112393,83808703fc0706a22e264b9d75f04a2e,2.0,700.0,Technology,8060.0,216.0,6e4465d771f02e4fe335225de3c6c043,1,4324dd16853115efb0fd9d0d131ba6f4,29.90,23.28,-21.582987,-46.947759
112394,83808703fc0706a22e264b9d75f04a2e,2.0,700.0,Technology,8060.0,216.0,6e4465d771f02e4fe335225de3c6c043,2,4324dd16853115efb0fd9d0d131ba6f4,29.90,23.28,-21.582987,-46.947759
112395,83808703fc0706a22e264b9d75f04a2e,2.0,700.0,Technology,8060.0,216.0,6e4465d771f02e4fe335225de3c6c043,3,4324dd16853115efb0fd9d0d131ba6f4,29.90,23.28,-21.582987,-46.947759
112396,106392145fca363410d287a815be6de4,1.0,2083.0,Home,168.0,367.0,f3a47ba087f05d39a74ed1b653f0be1b,1,4a3ca9315b744ce9f8e9374361493884,107.50,27.05,-21.757321,-48.829744

In [385]:
df_payments = pd.read_csv('donnees/olist_order_payments_dataset.csv')
df_payments = df_payments[df_payments.payment_type != 'undefined']
df_payments.payment_sequential = df_payments.payment_sequential.apply(lambda x : "1" if x==1 else ">1")
df_payments.head()

,order_id,payment_sequential,payment_type,payment_installments,payment_value
0,b81ef226f3fe1789b1e8b2acac839d17,1,credit_card,8,99.33
1,a9810da82917af2d9aefd1278f1dcfa0,1,credit_card,1,24.39
2,25e8ea4e93396b6fa0d3dd708e76c1bd,1,credit_card,1,65.71
3,ba78997921bbcdc1373bb41e913ab953,1,credit_card,8,107.78
4,42fdf880ba16b47b59251dd489d4441a,1,credit_card,2,128.45

In [386]:
df_reviews = pd.read_csv('donnees/olist_order_reviews_dataset.csv')
df_reviews.review_comment_message = df_reviews.review_comment_message.apply(lambda s : 0 if str(s)=='nan' else len(s))
df_reviews.review_comment_title = df_reviews.review_comment_title.apply(lambda s : 0 if str(s)=='nan' else len(s))
df_reviews["nb_char_comment"] = df_reviews[['review_comment_message','review_comment_title']].apply(lambda x: x[0]+x[1], axis=1)
df_reviews = df_reviews.drop(['review_comment_title','review_comment_message','review_creation_date','review_answer_timestamp'],axis=1)
df_reviews.head()

,review_id,order_id,review_score,nb_char_comment
0,7bc2406110b926393aa56f80a40eba40,73fc7af87114b39712e6da79b0a377eb,4,0
1,80e641a11e56f04c1ad469d5645fdfde,a548910a1c6147796b98fdf73dbeba33,5,0
2,228ce5500dc1d8e020d8d1322874b6f0,f9e4b658b201a9f2ecdecbb34bed034b,5,0
3,e64fb393e7b32834bb789ff8bb30750e,658677c97b385a9be170737859d3511b,5,37
4,f7c4243c7fe1938f181bec41a392bdeb,8e6bfb81e283fa7e4f11123a3fb894f1,5,100

In [387]:
df_reviews_payments = df_reviews.merge(df_payments, on='order_id')
df_reviews_payments

,review_id,order_id,review_score,nb_char_comment,payment_sequential,payment_type,payment_installments,payment_value
0,7bc2406110b926393aa56f80a40eba40,73fc7af87114b39712e6da79b0a377eb,4,0,1,credit_card,8,397.26
1,80e641a11e56f04c1ad469d5645fdfde,a548910a1c6147796b98fdf73dbeba33,5,0,1,credit_card,1,88.09
2,228ce5500dc1d8e020d8d1322874b6f0,f9e4b658b201a9f2ecdecbb34bed034b,5,0,1,credit_card,1,194.12
3,e64fb393e7b32834bb789ff8bb30750e,658677c97b385a9be170737859d3511b,5,37,1,credit_card,1,222.84
4,f7c4243c7fe1938f181bec41a392bdeb,8e6bfb81e283fa7e4f11123a3fb894f1,5,100,1,credit_card,10,1333.25
...,...,...,...,...,...,...,...,...
103672,574ed12dd733e5fa530cfd4bbf39d7c9,2a8c23fee101d4d5662fa670396eb8da,5,0,1,credit_card,8,287.97
103673,f3897127253a9592a73be9bdfdf4ed7a,22ec9f0669f784db00fa86d035cf8602,5,0,1,credit_card,1,209.76
103674,b3de70c89b1510c4cd3d0649fd302472,55d4004744368f5571d1f590031933e4,5,67,1,credit_card,6,231.56
103675,1adeb9d84d72fe4e337617733eb85149,7725825d039fc1f0ceb7635e3f7d9206,4,0,1,credit_card,1,66.41
103676,efe49f1d6f951dd88b51e6ccd4cc548f,90531360ecb1eec2a1fbb265a0db0508,1,85,1,boleto,1,40.68

In [388]:
df_orders = pd.read_csv('donnees/olist_orders_dataset.csv')
df_orders = df_orders.drop(columns=['order_delivered_carrier_date','order_delivered_customer_date','order_status','order_approved_at'])
df_orders['order_estimated_delivery_time'] = df_orders[['order_purchase_timestamp','order_estimated_delivery_date']].apply(lambda d: dt.datetime.strptime(d[1], '%Y-%m-%d %H:%M:%S') - dt.datetime.strptime(d[0], '%Y-%m-%d %H:%M:%S'), axis=1)
df_orders = df_orders.drop(['order_estimated_delivery_date'],axis=1)
df_orders

,order_id,customer_id,order_purchase_timestamp,order_estimated_delivery_time
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,2017-10-02 10:56:33,15 days 13:03:27
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,2018-07-24 20:41:37,19 days 03:18:23
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,2018-08-08 08:38:49,26 days 15:21:11
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,2017-11-18 19:28:06,26 days 04:31:54
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,2018-02-13 21:18:39,12 days 02:41:21
...,...,...,...,...
99436,9c5dedf39a927c1b2549525ed64a053c,39bd1228ee8140590ac3aca26f2dfe00,2017-03-09 09:54:05,18 days 14:05:55
99437,63943bddc261676b46f01ca7ac2f7bd8,1fca14ff2861355f6e5f14306ff977a7,2018-02-06 12:58:58,23 days 11:01:02
99438,83c1379a015df1e13d02aae0204711ab,1aa71eb042121263aafbe80c1b562c9c,2017-08-27 14:46:43,30 days 09:13:17
99439,11c177c8e97725db2631073c19f07b62,b331b74b18dc79bcdf6532d51e1637c1,2018-01-08 21:28:27,37 days 02:31:33
99440,66dea50a8b16d9b4dee7af250b4be1a5,edb027a75a1449115f6b43211ae02a24,2018-03-08 20:57:30,25 days 03:02:30

In [389]:
df_customers = pd.read_csv('donnees/olist_customers_dataset.csv')
df_customers = df_customers.drop(columns=['customer_state','customer_city'])
df_customers

,customer_id,customer_unique_id,customer_zip_code_prefix
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056
...,...,...,...
99436,17ddf5dd5d51696bb3d7c6291687be6f,1a29b476fee25c95fbafc67c5ac95cf8,3937
99437,e7b71a9017aa05c9a7fd292d714858e8,d52a67c98be1cf6a5c84435bd38d095d,6764
99438,5e28dfe12db7fb50a4b2f691faecea5e,e9f50caf99f032f0bf3c55141f019d99,60115
99439,56b18e2166679b8a959d72dd06da27f9,73c2643a0a458b49f58cea58833b192e,92120
99440,274fa6071e5e17fe303b9748641082c8,84732c5050c01db9b23e19ba39899398,6703

In [390]:
df_orders_customers = df_orders.merge(df_customers, on='customer_id')
df_orders_customers

,order_id,customer_id,order_purchase_timestamp,order_estimated_delivery_time,customer_unique_id,customer_zip_code_prefix
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,2017-10-02 10:56:33,15 days 13:03:27,7c396fd4830fd04220f754e42b4e5bff,3149
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,2018-07-24 20:41:37,19 days 03:18:23,af07308b275d755c9edb36a90c618231,47813
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,2018-08-08 08:38:49,26 days 15:21:11,3a653a41f6f9fc3d2a113cf8398680e8,75265
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,2017-11-18 19:28:06,26 days 04:31:54,7c142cf63193a1473d2e66489a9ae977,59296
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,2018-02-13 21:18:39,12 days 02:41:21,72632f0f9dd73dfee390c9b22eb56dd6,9195
...,...,...,...,...,...,...
99436,9c5dedf39a927c1b2549525ed64a053c,39bd1228ee8140590ac3aca26f2dfe00,2017-03-09 09:54:05,18 days 14:05:55,6359f309b166b0196dbf7ad2ac62bb5a,12209
99437,63943bddc261676b46f01ca7ac2f7bd8,1fca14ff2861355f6e5f14306ff977a7,2018-02-06 12:58:58,23 days 11:01:02,da62f9e57a76d978d02ab5362c509660,11722
99438,83c1379a015df1e13d02aae0204711ab,1aa71eb042121263aafbe80c1b562c9c,2017-08-27 14:46:43,30 days 09:13:17,737520a9aad80b3fbbdad19b66b37b30,45920
99439,11c177c8e97725db2631073c19f07b62,b331b74b18dc79bcdf6532d51e1637c1,2018-01-08 21:28:27,37 days 02:31:33,5097a5312c8b157bb7be58ae360ef43c,28685
99440,66dea50a8b16d9b4dee7af250b4be1a5,edb027a75a1449115f6b43211ae02a24,2018-03-08 20:57:30,25 days 03:02:30,60350aa974b26ff12caad89e55993bd6,83750

In [391]:
df_orders_customers_reviews_payments = df_reviews_payments.merge(df_orders_customers, on='order_id')
df_orders_customers_reviews_payments

,review_id,order_id,review_score,nb_char_comment,payment_sequential,payment_type,payment_installments,payment_value,customer_id,order_purchase_timestamp,order_estimated_delivery_time,customer_unique_id,customer_zip_code_prefix
0,7bc2406110b926393aa56f80a40eba40,73fc7af87114b39712e6da79b0a377eb,4,0,1,credit_card,8,397.26,41dcb106f807e993532d446263290104,2018-01-11 15:30:49,21 days 08:29:11,68a5590b9926689be4e10f4ae2db21a8,6030
1,80e641a11e56f04c1ad469d5645fdfde,a548910a1c6147796b98fdf73dbeba33,5,0,1,credit_card,1,88.09,8a2e7ef9053dea531e4dc76bd6d853e6,2018-02-28 12:25:19,13 days 11:34:41,64190b91b656ab8f37eb89b93dc84584,13380
2,228ce5500dc1d8e020d8d1322874b6f0,f9e4b658b201a9f2ecdecbb34bed034b,5,0,1,credit_card,1,194.12,e226dfed6544df5b7b87a48208690feb,2018-02-03 09:56:22,33 days 14:03:38,1d47144362c14e94ccdd213e8ec277d5,44571
3,e64fb393e7b32834bb789ff8bb30750e,658677c97b385a9be170737859d3511b,5,37,1,credit_card,1,222.84,de6dff97e5f1ba84a3cd9a3bc97df5f6,2017-04-09 17:41:13,30 days 06:18:47,c8cf6cb6b838dc7a33ed199b825e8616,88735
4,f7c4243c7fe1938f181bec41a392bdeb,8e6bfb81e283fa7e4f11123a3fb894f1,5,100,1,credit_card,10,1333.25,5986b333ca0d44534a156a52a8e33a83,2018-02-10 10:59:03,26 days 13:00:57,d16000272660a1fef81482ad75ba572a,89520
...,...,...,...,...,...,...,...,...,...,...,...,...,...
103672,574ed12dd733e5fa530cfd4bbf39d7c9,2a8c23fee101d4d5662fa670396eb8da,5,0,1,credit_card,8,287.97,d8c466a3e7c4cda36cd4ae7d577f44f4,2018-06-27 17:31:29,22 days 06:28:31,50605c81f77a2171191dffee444613b2,74810
103673,f3897127253a9592a73be9bdfdf4ed7a,22ec9f0669f784db00fa86d035cf8602,5,0,1,credit_card,1,209.76,d0d7086dea6fcf42b9b690b9f3745c58,2017-12-03 21:45:23,16 days 02:14:37,597cbb334f18a671472f7e16648228b4,22793
103674,b3de70c89b1510c4cd3d0649fd302472,55d4004744368f5571d1f590031933e4,5,67,1,credit_card,6,231.56,fcc7b1caafe3b77fd587bab964c4d1fb,2018-03-18 09:52:19,18 days 14:07:41,c860357db400d72a2497064f8376fba9,37200
103675,1adeb9d84d72fe4e337617733eb85149,7725825d039fc1f0ceb7635e3f7d9206,4,0,1,credit_card,1,66.41,3aa00401736823c73e9fe8683328fa6b,2018-06-22 16:47:28,23 days 07:12:32,96ac4cb74918d3ace141d3d3ddc1ff02,32667
103676,efe49f1d6f951dd88b51e6ccd4cc548f,90531360ecb1eec2a1fbb265a0db0508,1,85,1,boleto,1,40.68,f6fff47846276bed044b63474bd38884,2017-06-29 10:43:25,12 days 13:16:35,432d4f5ec4f462779a48a51c33950351,7085

In [392]:
df_orders_geo_customers_reviews_payments = df_orders_customers_reviews_payments.merge(df_geo, left_on ='customer_zip_code_prefix', right_on='geolocation_zip_code_prefix').rename(columns={'geolocation_lat':'customer_lat','geolocation_lng':'customer_lng'}).drop(columns=['customer_zip_code_prefix','geolocation_zip_code_prefix'])
df_orders_geo_customers_reviews_payments

,review_id,order_id,review_score,nb_char_comment,payment_sequential,payment_type,payment_installments,payment_value,customer_id,order_purchase_timestamp,order_estimated_delivery_time,customer_unique_id,customer_lat,customer_lng
0,7bc2406110b926393aa56f80a40eba40,73fc7af87114b39712e6da79b0a377eb,4,0,1,credit_card,8,397.26,41dcb106f807e993532d446263290104,2018-01-11 15:30:49,21 days 08:29:11,68a5590b9926689be4e10f4ae2db21a8,-23.557079,-46.767579
1,1a8e52b2cfdb53024f79439f4f30b53d,829d14a0e060598e3de477687e72a312,5,72,1,credit_card,4,89.32,e9837d053b096d1d743efcaaae03cb95,2017-07-31 22:17:36,10 days 01:42:24,053b7090271ed4dacbfe0afd6382bbab,-23.557079,-46.767579
2,f3e5aacebf5f451400d143ccf5e6dddb,2b0c5e8ea478e2c617ff8717b4356bac,5,0,1,voucher,1,72.43,6698e1f5add40d916c67e21b13139b5f,2017-12-07 09:52:28,25 days 14:07:32,0a0ec88e2cc988ddfd8fc2c1d7d18597,-23.557079,-46.767579
3,d64300a5fe5d674828b4454c8a779e44,77d599900cf351da04c8d0f7b5ade74d,5,0,1,credit_card,1,163.06,49162725edf59a77fb0d29f4f2e1af83,2018-01-19 14:10:03,20 days 09:49:57,ba251814e60bbb77ba39fd4e8f084a1a,-23.557079,-46.767579
4,238e50e85af6df5121c9978eb61f52dc,5a32dae759e50279bf8e1b2be65edd27,4,0,1,credit_card,2,26.17,6b5aaff0e495149ec28705162bba2fe4,2017-09-28 23:13:40,17 days 00:46:20,053b7090271ed4dacbfe0afd6382bbab,-23.557079,-46.767579
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
103384,0ea6587edc6b2643bc8a2199aee2ccba,5b05675d9f09a7f7f94f59caa0335c71,5,0,1,credit_card,1,70.72,5f19fc7d67b912e120c4346cedc094f4,2018-02-02 20:45:49,18 days 03:14:11,367e41f1ad1310395bea2d36b6902846,-23.533390,-46.298193
103385,bcc752349a0cd298152988e2dd16a3a4,f980b4aacdad5bd8d7ff107f2dfa4a25,5,21,1,credit_card,3,33.13,d33fac33f976dffdf6fcc426442579dd,2018-03-12 15:45:00,22 days 08:15:00,c4050128efb0adcb0350f5c25c88e760,-15.805249,-46.930585
103386,50e098a41889d61baa6f3b2303ea8d72,b298fd28139da45209ed96d965b7a1ad,5,0,1,credit_card,10,155.36,41005552ba23cc2ae6e28c8751f02f42,2017-12-11 16:01:06,28 days 07:58:54,afb8666eb82bc5098caa0c3476482d39,-10.974208,-37.111473
103387,58be140ccdc12e8908ff7fd2ba5c7cb0,0ebf8e35b9807ee2d717922d5663ccdb,5,121,1,credit_card,4,170.84,9126539aa02befb9271bed176c06c637,2018-06-21 22:43:32,28 days 01:16:28,c30e0e45d4256ff2f7ff26e600ad0f7c,-29.460123,-52.022632
103388,58be140ccdc12e8908ff7fd2ba5c7cb0,0ebf8e35b9807ee2d717922d5663ccdb,5,121,>1,voucher,1,100.00,9126539aa02befb9271bed176c06c637,2018-06-21 22:43:32,28 days 01:16:28,c30e0e45d4256ff2f7ff26e600ad0f7c,-29.460123,-52.022632

In [393]:
df_merged = df_orders_geo_customers_reviews_payments.merge(df_products_items_geo_sellers, on='order_id')
df_merged

customer_coordinates = df_merged[['customer_lat', 'customer_lng']].values
seller_coordinates = df_merged[['seller_lat', 'seller_lng']].values
df_merged['distance'] = [distance.distance(coord1, coord2).km for coord1, coord2 in zip(customer_coordinates, seller_coordinates)]
df_merged = df_merged.drop(columns=['customer_lat','customer_lng','seller_lat','seller_lng'])
df_merged

,review_id,order_id,review_score,nb_char_comment,payment_sequential,payment_type,payment_installments,payment_value,customer_id,order_purchase_timestamp,...,product_photos_qty,product_weight_g,product_super_category_name,dimension,product_name_description_lenght,order_item_id,seller_id,price,freight_value,distance
0,7bc2406110b926393aa56f80a40eba40,73fc7af87114b39712e6da79b0a377eb,4,0,1,credit_card,8,397.26,41dcb106f807e993532d446263290104,2018-01-11 15:30:49,...,1.0,1300.0,Sports_Leisure,31500.0,900.0,1,6d803cb79cc31c41c4c789a75933b3c7,185.00,13.63,347.919297
1,7bc2406110b926393aa56f80a40eba40,73fc7af87114b39712e6da79b0a377eb,4,0,1,credit_card,8,397.26,41dcb106f807e993532d446263290104,2018-01-11 15:30:49,...,1.0,1300.0,Sports_Leisure,31500.0,900.0,2,6d803cb79cc31c41c4c789a75933b3c7,185.00,13.63,347.919297
2,1a8e52b2cfdb53024f79439f4f30b53d,829d14a0e060598e3de477687e72a312,5,72,1,credit_card,4,89.32,e9837d053b096d1d743efcaaae03cb95,2017-07-31 22:17:36,...,1.0,2900.0,Home,12800.0,882.0,1,8a32e327fe2c1b3511609d81aaf9f042,12.99,9.34,15.404328
3,1a8e52b2cfdb53024f79439f4f30b53d,829d14a0e060598e3de477687e72a312,5,72,1,credit_card,4,89.32,e9837d053b096d1d743efcaaae03cb95,2017-07-31 22:17:36,...,1.0,2900.0,Home,12800.0,882.0,2,8a32e327fe2c1b3511609d81aaf9f042,12.99,9.34,15.404328
4,1a8e52b2cfdb53024f79439f4f30b53d,829d14a0e060598e3de477687e72a312,5,72,1,credit_card,4,89.32,e9837d053b096d1d743efcaaae03cb95,2017-07-31 22:17:36,...,1.0,2900.0,Home,12800.0,882.0,3,8a32e327fe2c1b3511609d81aaf9f042,12.99,9.34,15.404328
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
116745,0ea6587edc6b2643bc8a2199aee2ccba,5b05675d9f09a7f7f94f59caa0335c71,5,0,1,credit_card,1,70.72,5f19fc7d67b912e120c4346cedc094f4,2018-02-02 20:45:49,...,2.0,200.0,Health_Beauty,3960.0,551.0,1,cc419e0650a3c5ba77189a1882b7556a,58.99,11.73,26.870067
116746,bcc752349a0cd298152988e2dd16a3a4,f980b4aacdad5bd8d7ff107f2dfa4a25,5,21,1,credit_card,3,33.13,d33fac33f976dffdf6fcc426442579dd,2018-03-12 15:45:00,...,2.0,100.0,Technology,1188.0,1488.0,1,7d76b645482be4a332374e8223836592,14.90,18.23,859.190998
116747,50e098a41889d61baa6f3b2303ea8d72,b298fd28139da45209ed96d965b7a1ad,5,0,1,credit_card,10,155.36,41005552ba23cc2ae6e28c8751f02f42,2017-12-11 16:01:06,...,8.0,1650.0,Arts_Music,12220.0,1025.0,1,6d66611d7c44cc30ce351abc49a68421,129.90,25.46,1730.015822
116748,58be140ccdc12e8908ff7fd2ba5c7cb0,0ebf8e35b9807ee2d717922d5663ccdb,5,121,1,credit_card,4,170.84,9126539aa02befb9271bed176c06c637,2018-06-21 22:43:32,...,1.0,803.0,Office_Supplies,8500.0,1441.0,1,59cea8e446d3834393058e7e0666b6fb,249.90,20.94,668.066122
116749,58be140ccdc12e8908ff7fd2ba5c7cb0,0ebf8e35b9807ee2d717922d5663ccdb,5,121,>1,voucher,1,100.00,9126539aa02befb9271bed176c06c637,2018-06-21 22:43:32,...,1.0,803.0,Office_Supplies,8500.0,1441.0,1,59cea8e446d3834393058e7e0666b6fb,249.90,20.94,668.066122

In [394]:
df_final.columns

Index(['nb_order_item', 'nb_sellers', 'price', 'freight_value',
       'product_photos_qty', 'product_weight_g', 'product_super_category_name',
       'dimension', 'product_name_description_lenght', 'review_score',
       'nb_char_comment', 'payment_sequential', 'payment_type',
       'order_estimated_delivery_time', 'nb_product', 'distance'],
      dtype='object')

In [395]:
def mode(v):
    if type(v)==list:
        return v[0]
    return v

agg = {'order_item_id':'count', 'seller_id':'nunique','price':'mean','freight_value':'mean', 'product_photos_qty':'mean', 'product_weight_g':'mean','product_super_category_name':pd.Series.mode, 'dimension':'mean', 'product_name_description_lenght':'mean', 'review_score':'mean','nb_char_comment':'mean', 'payment_sequential':pd.Series.mode, 'payment_type':pd.Series.mode, 'order_estimated_delivery_time':'mean', 'product_id':'count', 'distance':'mean', 'order_purchase_timestamp':'max'}

df_final = df_merged.groupby('customer_id').agg(agg).reset_index().rename(columns={'order_item_id':'nb_items','seller_id':'nb_sellers','product_id':'nb_product', 'order_purchase_timestamp':'recense'}).drop(columns='customer_id')

df_final['product_super_category_name'] = df_final['product_super_category_name'].apply(lambda v : mode(v))
df_final['payment_sequential'] = df_final['payment_sequential'].apply(lambda v : mode(v))
df_final['payment_type'] = df_final['payment_type'].apply(lambda v : mode(v))
# df['recense'] = pd.to_datetime(df['recense'])
# df['order_purchase_timestamp'] = pd.to_numeric(df['order_purchase_timestamp'])
df_final

,nb_items,nb_sellers,price,freight_value,product_photos_qty,product_weight_g,product_super_category_name,dimension,product_name_description_lenght,review_score,nb_char_comment,payment_sequential,payment_type,order_estimated_delivery_time,nb_product,distance,recense
0,1,1,89.80,24.94,1.0,4267.0,Toys_Games,39468.0,944.0,1.0,23.0,1,credit_card,19 days 07:51:34,1,120.233384,2017-11-14 16:08:26
1,1,1,54.90,12.51,2.0,150.0,Health_Beauty,352.0,2620.0,4.0,0.0,1,credit_card,18 days 14:19:28,1,133.864505,2017-07-16 09:40:32
2,1,1,179.99,15.43,2.0,750.0,Baby,16905.0,1087.0,5.0,9.0,1,credit_card,21 days 12:53:17,1,550.390274,2017-02-28 11:06:43
3,1,1,149.90,29.45,1.0,1600.0,Toys_Games,28800.0,878.0,5.0,0.0,1,boleto,28 days 10:50:40,1,832.987376,2017-08-16 13:09:20
4,1,1,93.00,14.01,2.0,800.0,Home,15300.0,421.0,4.0,0.0,1,boleto,15 days 10:17:43,1,310.594667,2018-04-02 13:42:17
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
97424,1,1,78.00,13.91,1.0,1250.0,Books,3080.0,2283.0,5.0,80.0,1,credit_card,18 days 23:04:33,1,506.593602,2018-03-17 00:55:27
97425,3,1,54.90,26.46,3.0,2050.0,Home,20000.0,689.0,3.0,0.0,>1,voucher,28 days 07:00:34,3,811.367498,2018-03-29 16:59:26
97426,1,1,47.90,15.23,4.0,350.0,Technology,12000.0,517.0,4.0,0.0,1,credit_card,37 days 10:23:58,1,355.690340,2018-05-22 13:36:02
97427,1,1,199.90,14.23,1.0,2700.0,Home,11808.0,328.0,5.0,53.0,1,credit_card,11 days 07:02:55,1,136.045116,2018-06-13 16:57:05
97428,2,1,10.90,11.85,3.0,200.0,Home,8000.0,200.0,5.0,0.0,1,credit_card,23 days 12:06:28,2,165.816379,2017-09-02 11:53:32

In [396]:
df_final.shape

(97429, 17)

In [ ]:
total_order_year = pd.DataFrame(df_freq.groupby(["customer_unique_id"])['order_number'].sum()).reset_index()
total_order_year.rename({'order_number': 'frequence'}, axis=1, inplace=True)

df = df.merge(total_order_year, how = 'outer' , on = ["customer_unique_id"])

df['frequence'] = df['frequence'].apply(lambda x : x * 3 if x >= 0 else 0)

df

In [ ]:
# last_col = ['shipping_limit_date', 'review_creation_date', 'review_answer_timestamp', 'order_purchase_timestamp', 'order_approved_at', 'order_delivered_carrier_date', 'order_delivered_customer_date', 'order_estimated_delivery_date', 'response_time']
# mean_col = ['price', 'freight_value', 'payment_value', 'payment_installments', 'review_score', 'price_total', 'total_order', 'recence', 'frequence']
# mode_col = ['payment_sequential', 'payment_type', 'product_category_name_english', 'order_status', 'customer_zip_code_prefix', 'customer_city', 'customer_state']
# sum_col = ['nb_char_comment', 'montant']

# dict_agg = {}


# for col in mode_col:
#     dict_agg[f'{col}'] = pd.Series.mode

# for col in last_col:
#     dict_agg[f'{col}'] = 'last'

# for col in mean_col:
#     dict_agg[f'{col}'] = 'mean'

# for col in sum_col:
#     dict_agg[f'{col}'] = 'sum'

In [ ]:
df_group = df.groupby(['customer_unique_id']).agg(dict_agg)

In [ ]:
type_o = type(df_group['product_category_name_english'][df_group.index == '001926cef41060fae572e2e7b30bd2a4'].values)

for col in mode_col:
    df_group[col] = df_group[col].apply(lambda x : x[0] if type(x) == type_o else x)

df_group

,payment_sequential,payment_type,product_category_name_english,order_status,customer_zip_code_prefix,customer_city,customer_state,shipping_limit_date,review_creation_date,review_answer_timestamp,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,response_time,price,freight_value,payment_value,payment_installments,review_score,price_total,total_order,recence,frequence,nb_char_comment,montant
customer_unique_id,,,,,,,,,,,,,,,,,,,,,,,,,,,
0000366f3b9a7992bf8c76cfdf3221e2,1,credit_card,bed_bath_table,delivered,7787,cajamar,SP,1526382678000000000,1526515200000000000,1526910288000000000,1525949787000000000,1525950678000000000,1526113080000000000,1526503717000000000,1526860800000000000,395088000000000,129.90,12.00,141.90,8.0,5.0,129.90,1.0,10.0,3.0,126,3
0000b849f77a49e4a4ce2b2a4ca5be3f,1,credit_card,health_beauty,delivered,6053,osasco,SP,1526061393000000000,1525996800000000000,1526077765000000000,1525691487000000000,1525717544000000000,1525868280000000000,1525975362000000000,1526342400000000000,80965000000000,18.90,8.29,27.19,1.0,4.0,18.90,1.0,10.0,3.0,0,0
0000f46a3911fa3c0805444483337064,1,credit_card,stationery,delivered,88115,sao jose,SC,1489611903000000000,1491436800000000000,1491527984000000000,1489179903000000000,1489179903000000000,1489409910000000000,1491403127000000000,1491523200000000000,91184000000000,69.00,17.22,86.22,8.0,3.0,69.00,1.0,0.0,0.0,0,1
0000f6ccb0745a6a4b88665a16c9f078,1,credit_card,telephony,delivered,66812,belem,PA,1508363357000000000,1509580800000000000,1509668271000000000,1507840181000000000,1507841357000000000,1507925299000000000,1509571385000000000,1510531200000000000,87471000000000,25.99,17.63,43.62,4.0,4.0,25.99,1.0,3.0,3.0,12,1
0004aac84e0df4da2b147fca70cf8255,1,credit_card,telephony,delivered,18040,sorocaba,SP,1511381212000000000,1511827200000000000,1512253775000000000,1510688742000000000,1510690012000000000,1510861930000000000,1511824136000000000,1512432000000000000,426575000000000,180.00,16.89,196.89,6.0,5.0,180.00,1.0,3.0,3.0,0,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
fffcf5a5ff07b0908bd4e2dbc735a684,1,credit_card,health_beauty,delivered,55250,sanharo,PE,1498425316000000000,1499385600000000000,1499772005000000000,1496955636000000000,1496956516000000000,1498223007000000000,1499332920000000000,1501632000000000000,386405000000000,785.00,248.71,2067.42,10.0,5.0,1570.00,2.0,0.0,0.0,0,20
fffea47cd6d3cc0a88bd621562a9d061,1,credit_card,baby,delivered,44054,feira de santana,BA,1513282580000000000,1515542400000000000,1516017119000000000,1512936476000000000,1512936980000000000,1513873621000000000,1515536900000000000,1515715200000000000,474719000000000,64.89,19.69,84.58,1.0,4.0,64.89,1.0,6.0,3.0,0,1
ffff371b4d645b6ecea244b27531430a,1,credit_card,auto,delivered,78552,sinop,MT,1486828156000000000,1487808000000000000,1488035001000000000,1486482556000000000,1486483364000000000,1486548277000000000,1487767504000000000,1490313600000000000,227001000000000,89.90,22.56,112.46,1.0,5.0,89.90,1.0,0.0,0.0,0,2
ffff5962728ec6157033ef9805bacc48,1,credit_card,watches_gifts,delivered,29460,bom jesus do norte,ES,1525795127000000000,1526342400000000000,1526570180000000000,1525274261000000000,1525276727000000000,1525365900000000000,1526298866000000000,1527465600000000000,227780000000000,115.00,18.69,133.69,5.0,5.0,115.00,1.0,10.0,3.0,141,2
ffffd2657e2aad2907e67c3e9daecbeb,1,credit_card,perfumery,delivered,83608,campo largo,PR,1494429313000000000,1494460800000000000,1494672924000000000,1493756325000000000,1493824513000000000,1493899522000000000,1494408828000000000,1495756800000000000,212124000000000,56.99,14.57,71.56,4.0,5.0,56.99,1.0,0.0,0.0,0,1

### **Base Or**

In [ ]:
df_final.to_sql(name='Or', con=engine_or, if_exists = 'append', index=False)

93394